<h1 style="text-align:center">Our Team</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/src/app/images/Peggy.jpg" alt="Peggy" style="width:100%">
      <div class="container">
        <h2>Peggy Munyai</h2>
        <p class="title">CEO & Founder</p>
        <p>24 year old information technology graduate majoring in software engineering </p>
        <p>munyaipeggy97@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/Angular_Assessment/src/assets/Images/login_100128.jpg">
      <div class="container">
        <h2>Denice Munyai</h2>
        <p class="title">Art Director</p>
        <p>34 year old information management supervisor with 10 years of experience in procurement</p>
        <p>Dmunyai@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/src/app/images/kabalo.jpg.crdownload" alt="Kabza" style="width:100%">
      <div class="container">
        <h2>Kabelo Thaba</h2>
        <p class="title">Graphic Designer</p>
        <p>29 year old enthusiastic graphic designer originaly from south africa limpopo</p>
        <p>Kbriz@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
