<img src="/assets/Images/imformatio2.png" width="150px" height="150px" alt="information" style="margin-top:-90px;">
<h4>About the Assessment</h4>

<p>The about assessment page gives the candidates a clear explanation of the assessment prior starting the assessment as follows:</p>


<h4>Assessment instructions</h4>
<p>
This assignment is a multiple choice question based assessment consistant of 20 questions with a pass mark of 13, upon selection of the test you prefer to take the test will resume immediately so only select the option when ready to start and not prior preparations. Each test is consistent of 10 questions timed at 10 minutes giving you a maximum 
of 1 minute per question to complete.</p>

<section>
  <button l routerLink='/counter' class="btn-lg btn-primary">Begin Assessment</button>
</section>



